.container-parallax {
  text-align: center;
  color: var(--color);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: url(images/BackgroundMountain.png);
}

.second-parallax {
  background-attachment: fixed;
  height: 1200px;
}

.second-parallax {
  flex-direction: row;
  gap: 1.6em;
}
