body {
  font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 1rem;
  overflow-x: hidden;
}
#text-wrapper {
  width: 50vw;
}
p {
  font-size: 1.5rem;
  line-height: 1.5;
  width: 60vw;
}
.section {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  z-index: 10
}
.black {
  background-color: black;
}
.purple {
  background-color: purple;
}
.blue {
  background-color: blue;
}

.container {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.template-footer {
/*   display: none; */
    display: flex;
  position: fixed;
  bottom: 0;
  right: 0; 
  height: 2rem;
  gap: 2rem;
  border-radius: 5px 0 0 0;
  background-color: #ffffba;

  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1.6rem;
  z-index: 100;
}